// ## Colors

// ### Primary

$red: hsl(0, 100%, 68%);

// ### Neutral

$very_dark_blue: hsl(230, 29%, 20%);
$dark_blue: hsl(230, 11%, 40%);
$grayish_blue: hsl(231, 7%, 65%);
$light_blue: hsl(207, 33%, 95%);
