@media (min-width:300px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;

        position: relative;
    }
}

@media (min-width:1024px){
    .header{
        padding: 3.5em 0;
    }
}