@media (min-width:300px){
    .square_bg{
        width: 200px;
        height: 430px;
        background-color: $light_blue;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        border-bottom-left-radius: 4rem;
    }
}

@media (min-width:1024px){
    .square_bg{
        width: 58%;
    }
}