@import "colors";
@import "typography";
/*Global is mainly page max,min widths 
and margins,paddings that define the look of the page*/
@import "global";

@import "header";
@import "menu";
@import "content";
@import "attribution";
@import "square_bg";